/target

node_modules
dist

# For trunk assets setting
# Docs:    https://trunkrs.dev/assets/
# Example: https://github.com/thedodd/trunk/blob/master/examples/yew/index.html
# /styles/dist/
styles/dist/*
!**/.gitkeep